<body style="background-color:grey;">
  <%= link_to image_tag("Blitzen.png", class: "img-responsive center-block") %> 
  <h1 style="text-align: center">Index page</h1>
  <h2 style="text-align: center">In Development</h2>
</body>
