<body style="background-color:grey;">
  <%= link_to image_tag("Blitzen.png", class: "img-responsive center-block") %>  
  <h1 style="text-align: center">In Development</h1>
  <div class="horizontal-center">
    <%= link_to '<button class="Hover_B_Button"><span>Enter</span></button>'.html_safe, main_index_path %>
  </div>
</body>