<br>
<h2><b> - Install Instructions - </b></h2>

<h3>- Twitch Launcher:</h3>
<h5>For the twitch launcher (the prefered method for handling modpacks by most.) You can watch this video which explains in depth how to install and use it. Just download the desired modpack from the server dop down list, grab the pack and resource pack. (ignoring the forge download)<h5>
<iframe width="600" height="400" src="https://www.youtube.com/embed/0KQXL96iSQ0" allowfullscreen frameborder="0"></iframe>
<h3>- Default (Java Edition) Launcher:</h3>
<ul>
  <li>
    <h4>
      <b>Step 1: </b>
    </h4>
    <b>Install forge</b>

    <p>If the server you wish to join is modded or a forge server. 
    You'll first need to download it from the server drop down list.
    It will start downloading the correct forge version for that specific server.
    Once complete, open the downloaded jar file and follow the prompting installer.
    After that, you can check if you have forge installed by opening up the minecraft launcher (java edition) and selecting forge 1.12.2<p>
  </li>
  
  
  
  <li>
    <h4>
      <b>Step 2: </b> 
    </h4>
    <b>Install modpack</b>

    <p>On the selected drop down for the server, (if available) download the modpack 
    <b class="red">(due to a Nginx buffer issue, it takes a while for the download to actually start. This bug is being fixed)</b>
    Extract and move the contents to your minecraft directory. In most cases it's (C:\Users\[user]\AppData\Roaming\.minecraft\). 
    If it asks to replace files (e.g libraies.) It's perfectly fine to replace them.
    </p>
  </li>


  <li>
    <h4>
      <b>Step 3: </b> 
    </h4>
    <b>Increase RAM</b>

    <p>Modded Minecraft is power hungery, and by default 2GB is not enough to surfice. 
    In some cases, the game won't even get past the start screen. 
    You can increase the allocation to minecraft by going to the Installations tab in the launcher, 
    selecting the profile you wish to change (e.g forge). Select more options, then change -Xmx2G to something higher, -Xmx6G is fine, but if possible higher is always better. 
    This will also increase your launcher load time. (to an extent). 
    Save then test if it worked by starting up the game. The launcher should show a bar of how much RAM is being used for the mod loading.</p>
  </li>

  <li>
    <h4>
      <b>Step 4: </b> 
    </h4>
    <b>Download Resource pack</b>

    <p>The modpack was built with the intention to look a certain way, with different textures and lighting. 
    It's not a requirement, but if you want to spice up the look of things. 
    Download the resource pack that comes in the server dropdown. 
    (DO NOT EXTRAXT). Place the zip folder into the resourcespacks folder in your minecraft dir. 
    Open up minecraft and when you have reached the menu page. Select options/resourcepacks. 
    You should see a new resource pack under available resource packs. Click the arrow on it and select done. 
    It will take a few minutes for the resource pack to enable intself. (You can do this process in game too).
    </p>
  </li>
</ul>
