<h2>Server Live Activity <a class="red">(In the works)</a></h2>
<div class="fakeimg" style="height:auto;">
  <ul>
    <li>25565 (Listener):<a class="red">N/A</a></li>
    <li>25566:<a class="red">N/A</a></li>
    <li>25567:<a class="red">N/A</a></li>
    <li>25568:<a class="red">N/A</a></li>
    <li>25569:<a class="red">N/A</a></li>
    <li>25570:<a class="red">N/A</a></li>
    <li>25571:<a class="red">N/A</a></li>
    <li>25572:<a class="red">N/A</a></li>
    <li>25573:<a class="red">N/A</a></li>
    <li>25574:<a class="red">N/A</a></li>
  </ul>
</div>