<h2>Blitzen Minecraft</h2>
<div id="info" style="padding:10px">
  <h4>Servers using bungeecord networks and custom built programming for self automation</h4>
</div>
<h3>Hosted Servers - IP: <b>blitzen-alpha.com</b></h3>
<br>




  <dt>
    <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Lobby</a>
  </dt>
  <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
    <p>The Lobby, the core of the server as a whole. Networking every server togethor using some fancy ip forwarding mumbo jumbo. Your one stop shop for selecting servers.</p>
    <ul>
      <li><h4>ModPack: <b>None</b></h4></li>
      <li><h4>ResourcePack: <b>None</b></h4></li>
      <li>Official port: <b>25566</b></li>
      <li>Direct Connection: <b>None</b></li>
    </ul>
  </dd>
<br>



  <dt>
    <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">OGServer</a>
  </dt>
  <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
    <p>The OG vanilla. The literal server that started this crusade of people munching on my ram. And others setting it on fire... Looking at you Lauren. This one has been inactive for a while but still holds strong with it's giant city built by 20 odd uni students with no sleep. Go and tour it if you dare. I've never seen the edge of town...</p>
    <ul>
      <li><h4>ModPack: <b>None</b></h4></li>
      <li><h4>ResourcePack: <b>None</b></h4></li>
      <li>Official port: <b>25571</b></li>
      <li>Direct Connection: <b>None</b></li>
    </ul>
  </dd>



<br>
  <dt>
    <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Rose World</a>
  </dt>
  <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
    <p>The most active server on this list. Good old Rose world. Why Rose? yea, ask him that yourself. A pure vanilla (NO CHEATING) server. I had to learn that the hard way. It's a server filled with odd bits of people. old, young and weird. Building giant dongs, trees, towers, castles. You name it. And all vanilla.... except for that one time. But he learn his lesson. it uhhhhh... it was me.</p>
    <ul>
      <li><h4>ModPack: <b>None</b></h4></li>
      <li><h4>ResourcePack: <b>None</b></h4></li>
      <li>Official port: <b>25572</b></li>
      <li>Direct Connection: <b>None</b></li>
    </ul>
  </dd>



<br>
  <dt>
    <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Dungeons Dragons & Space Shuttles</a>
  </dt>
  <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
    <p>The newest and most power hungery of the bunch. Asking for almost 10 cores and 30 gigs of RAM. Why you may ask? Because this is no vanilla server for ye of harty soul. 250 consecutive mods and still counting, all the way from carriages, dungeons, fairies. To blasting off to the bloody moon. Build a party, get extra lives, join the space race. Join the Holy grail race. Go to atlantis? This has it all, with our custom modpack and resources.</p>
    <ul>
      <li><h4>ModPack: <%= link_to '<button class="Hover_B_ButtonSmall"><span>Download</span></button>'.html_safe, download_modpack_DDSS_path %></h4></li>
      <li><h4>ResourcePack: <%= link_to '<button class="Hover_B_ButtonSmall"><span>Download</span></button>'.html_safe, download_resourcepack_DDSS_path %></h4></li>
      <li>Official port: <b>25574</b></li>
      <li>Direct Connection: <b>blitzen-alpha.com:25574</b></li>
    </ul>
    <h5><b>Dev Notes:</b></h5>
    <p>
      Due to a version issue with the ip forwarding controller (sponge) & bungeecord/waterfall. 
      The only current way to access the server is via port connection. 
      Lobby does not work, this may change in the future if the version changes. 
      Or i delete the mod causing the version issue
    </p>
  </dd>



<br>
  <dt>
    <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">One hit wonder</a>
  </dt>
  <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
    <p>The empty barren waste land known as the "One hit wonder". Actually it's pretty green. The story for this... Yea someone just asked to setup a 1.15 server last year to see some updates to the environment. And it just never went away for some reason. And I can't be bothered deleting it. can you?</p>
    <ul>
      <li><h4>ModPack: <b>None</b></h4></li>
      <li><h4>ResourcePack: <b>None</b></h4></li>
      <li>Official port: <b>25573</b></li>
      <li>Direct Connection: <b>None</b></li>
    </ul>
  </dd>
<br>




  <dt>
    <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Creative</a>
  </dt>
  <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
    <p>You sick and tired of always getting frustrated, giving up and SSHing into the server to give yourself creative in the console. No? Just me... oh well either way, try your hand at building anything you want. Or testing out your ideas in another environment with others. Who knows. The possibilities are endless</p>
    <ul>
      <li><h4>ModPack: <b>None</b></h4></li>
      <li><h4>ResourcePack: <b>None</b></h4></li>
      <li>Official port: <b>25567</b></li>
      <li>Direct Connection: <b>None</b></li>
    </ul>
  </dd>
<br>




  <dt>
    <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Hunger Games 1</a>
  </dt>
  <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
    <p>Do I really have to explain this one? You see a dude. You probably wanna kill that dude before he gets you first. Hunger games 1. The command block controlled server where homicidal weirdos go to pumble eachother.</p>
    <ul>
      <li><h4>ModPack: <b>None</b></h4></li>
      <li><h4>ResourcePack: <b>None</b></h4></li>
      <li>Official port: <b>25569</b></li>
      <li>Direct Connection: <b>None</b></li>
    </ul>
  </dd>
<br>




  <dt>
    <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Hunger Games 2</a>
  </dt>
  <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
    <p>Same as before but bigger... ALOT BIGGER</p>
    <ul>
      <li><h4>ModPack: <b>None</b></h4></li>
      <li><h4>ResourcePack: <b>None</b></h4></li>
      <li>Official port: <b>25570</b></li>
      <li>Direct Connection: <b>None</b></li>
    </ul>
  </dd>
<br>